In [1]:
import pandas as pd

In [4]:
df= pd.read_csv('data.train')
df.head()

,Unnamed: 0,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,...,Type 2__other,HP__other,Attack__other,Defense__other,Sp. Atk__other,Sp. Def__other,Speed__other,Generation__other,Legendary__other,Wins
0,39087,Karrablast,Bug,NaN,50.0,72.0,39.0,39.0,42.0,55.0,...,NaN,50.0,53.0,43.0,47.0,27.0,40.0,5.0,False,True
1,30893,NaN,Rock,Water,70.0,NaN,125.0,113.0,78.0,NaN,...,NaN,65.0,64.0,NaN,49.0,41.0,39.0,5.0,False,True
2,45278,Mega Manectric,Electric,NaN,70.0,77.0,81.0,NaN,91.0,136.0,...,NaN,NaN,48.0,78.0,NaN,83.0,75.0,5.0,False,True
3,16398,Bouffalant,Psychic,NaN,95.0,121.0,NaN,39.0,85.0,NaN,...,NaN,75.0,108.0,101.0,39.0,68.0,106.0,NaN,False,False
4,13653,Swablu,Normal,Flying,45.0,36.0,58.0,37.0,76.0,56.0,...,Fairy,40.0,46.0,68.0,108.0,123.0,86.0,1.0,False,False

In [6]:
df.columns

Index(['Unnamed: 0', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Name__other',
       'Type 1__other', 'Type 2__other', 'HP__other', 'Attack__other',
       'Defense__other', 'Sp. Atk__other', 'Sp. Def__other', 'Speed__other',
       'Generation__other', 'Legendary__other', 'Wins'],
      dtype='object')